/*
font-family: 'Kumbh Sans', sans-serif;
*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  color: hsl(227, 10%, 46%);

  background-color: hsl(185, 75%, 39%);
}

.u-margin-big {
  margin-bottom: 2.3rem;
}
.u-margin-small {
  margin-bottom: 0.2rem;
}
.u-margin-medium {
  margin-bottom: 1.5rem;
}

.card-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-size: auto;
  /* background-position: top 189.5% left -53.03%, bottom 240.3% right 53.03%; */
  background-position: top -489px left -245px, bottom -620px right -245px;
  background-repeat: no-repeat;
}

.card {
  background-color: hsl(0, 0%, 100%);
  background-image: url(images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: auto;
  min-width: 35rem;
  border-radius: 1.5rem;
}

.card-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8.7rem;

  border-radius: 50%;
  border: 5px solid hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 100%);
}

.card-title {
  text-align: center;
}

.card-title-name {
  color: hsl(229, 23%, 23%);
  font-weight: 700;
  font-size: inherit;
  display: inline;
}

.card-title-age {
}

.card-location {
  font-size: 1.4rem;
  text-align: center;
}

.card-stats-stat-value {
  color: hsl(229, 23%, 23%);
  font-weight: 700;
  font-size: inherit;
}

.card-stats-stat-name {
  font-size: 1.2rem;
  font-weight: inherit;
  color: hsl(0, 0%, 59%);
}

.card-stats {
  display: flex;
  justify-content: space-evenly;
}

.card-stats-stat {
  flex: 0 1 5rem;
  text-align: center;
}

hr {
  border: unset;

  border-top: 1px solid hsl(0, 0%, 59%, 0.3);
}

@media only screen and (max-width: 376px) {
  .card {
    min-width: 32.6rem;
    background-position: top;
  }
}
